[submodule "codes/AVPlayer"]
	path = codes/AVPlayer
	url = git@github.com:JasonMrazW/AVPlayer.git
[submodule "codes/playOpenGL"]
	path = codes/playOpenGL
	url = git@github.com:JasonMrazW/PlayOpenGL.git
